body {
    min-height: 100vh;
}

header {
    background-color: #333;
}

header h1 {
    color: #fff;
    font-weight: bold;
}

.fa-cloud {
    color: skyblue;
}

.fa-sun {
    color: yellow;
}

.search-column {
    background-color: #e9ecef;
}

.list-group-item:hover {
    cursor: pointer;
    background-color: #e9ecef;
}

#current-weather {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-top: 15px;
}

#uv-index {
    border-radius: .25rem;
}

.card {
    margin: 0 1rem 1rem 1rem;
}